:root{
  --snColorBg: #F6F8FF;
  // --snColorBgAlt: #FFFFFF;
  
  --snColor2Lighter4: #FFFDE6;
  --snColor2Lighter3: #FFF7B0;
  --snColor2Lighter2: #FFEF87;
  --snColor2Lighter: #FFE45E;
  --snColor2Light: #FCD535;
  --snColor2: #F0B90B;
  --snColor2Dark: #C99400;
  --snColor2Darker: #A37200;
  --snColor2Darker2: #7D5300;
  --snColor2Darker3: #573700;
  --snColor2Inverse: #FFFFFF;

  --snColor1Lighter4: #FFF0F1;
  --snColor1Lighter3: #FFD1D6;
  --snColor1Lighter2: #FFA8B4;
  --snColor1Lighter: #F2798D;
  --snColor1Light: #E64E6C;
  --snColor1: #DA2752;
  --snColor1Dark: #B31741;
  --snColor1Darker: #8C0B32;
  --snColor1Darker2: #660324;
  --snColor1Darker3: #400118;
  --snColor1Inverse: #FFFFFF;

  // --snColor1Lighter4: #E6F4FF;
  // --snColor1Lighter3: #A8D5FF;
  // --snColor1Lighter2: #80BDFF;
  // --snColor1Lighter: #57A2FF;
  // --snColor1Light: #2E85FF;
  // --snColor1: #0565FF;
  // --snColor1Dark: #004CD9;
  // --snColor1Darker: #0039B3;
  // --snColor1Darker2: #00288C;
  // --snColor1Darker3: #001A66;
  // --snColor1Inverse: #FFFFFF;

  --snColorText: #5E6172;

  --snColorDarkSmoother: #3A3E43;
  --snColorDarkSmooth: #21252B;
  --snColorDark: #12161C;
  --snColorDarker: #0B0E11;
  --snColorDarkest: #040707;
}